{% if theme == 'gruvbox' %}
[colors]
darkgray = #1d2021 
orange = #d65d0e
white = #ebdbb2
gray = #585858
black = #090909
red = #c795ae
blue = #95aec7
yellow = #c7ae95
green = #aec795
background = #000000 
background-alt = #4e4e4e
foreground = #ebdbb2 
foreground-alt = #4e4e4e
primary = #d79921 
secondary = #FF6200
alert = #fb4934
disabled = #000000

[bar/example]
width = 100%
height = 20pt

; dpi = 96

background = ${colors.background}
foreground = ${colors.foreground}

line-size = 3pt

border-size = 4pt
border-color = #000000

padding-left = 0
padding-right = 0

module-margin = 1

separator = 
separator-foreground = ${colors.disabled}

font-0 = monospace:size=8;2
font-1 = Terminess Nerd Font:size=8;2
font-2 = Noto Color Emoji:scale=15;
modules-left = xworkspaces
modules-center = power run help
modules-right ={% if system_type == 'laptop' %} battery{% endif %} filesystem memory cpu btc date

cursor-click = pointer
cursor-scroll = ns-resize

enable-ipc = true

tray-position = right

; wm-restack = generic
; wm-restack = bspwm
; wm-restack = i3

; override-redirect = true

[module/xworkspaces]
type = internal/xworkspaces

label-active = %name%
label-active-background = ${colors.background-alt}
label-active-underline= #cc241d 
label-active-padding = 1

label-occupied = %name%
label-occupied-padding = 1

label-urgent = %name%
label-urgent-background = ${colors.alert}
label-urgent-padding = 1

label-empty = %name%
label-empty-foreground = ${colors.disabled}
label-empty-padding = 1

[module/pulseaudio]
type = internal/pulseaudio

format-volume-prefix = "VOL "
format-volume-prefix-foreground = ${colors.primary}
format-volume = <label-volume>
format-volume-background = #282828
format-volume-foreground = ${colors.primary}
format-padding = 1
label-volume = %percentage%%

label-muted = 🔇
label-muted-foreground = ${colors.disabled}

[module/xkeyboard]
type = internal/xkeyboard
blacklist-0 = num lock

label-layout = %layout%
label-layout-foreground = ${colors.primary}

label-indicator-padding = 2
label-indicator-margin = 1
label-indicator-foreground = ${colors.background}
label-indicator-background = ${colors.secondary}

[module/filesystem]
type = custom/script
label = %output%
exec = python3 /usr/local/bin/check_mounts.py
format = <label>
format-background = #282828
format-foreground = ${colors.primary}
format-padding = 1
interval = 60

[module/memory]
type = custom/script
format-prefix = "MEM: "
format-prefix-foreground = ${colors.primary}
label = %output%
exec = /usr/local/bin/mem_check.ksh
format = <label>
format-background = #282828
format-foreground = ${colors.primary}
format-padding = 1
interval = 60

[module/cpu]
type = internal/cpu
interval = 2
format-prefix = "CPU: "
label-cpu = %percentage:2%%
format = <label>
format-background = #282828
format-foreground = ${colors.primary}
format-padding = 1

[module/date]
type = internal/date
interval = 1

date = %Y-%m-%d %H:%M:%S

label = %date%
label-foreground = ${colors.primary}
format = "%{A1:gsimplecal:} <label>%{A}"
format-background = #282828
format-foreground = ${colors.primary}
format-padding = 1

[module/run]
type = custom/text
content = "Run"
click-left = rofi -show drun -theme gruvbox-dark 
; Set background and foreground colors to create the button effect
content-background = #282828
content-foreground = ${colors.primary}
; Add padding to make it look more like a button
content-padding = 1
; ; Use underline to simulate a border or shadow
content-underline = #ebdbb2
content-underline-size = 2

[module/power]
type = custom/text
content = "⏻"
content-font = 2
click-left = xterm -e python3 /usr/local/bin/logoutmenu.py
; Set background and foreground colors to create the button effect
content-background = #282828
content-foreground = ${colors.primary}
; Add padding to make it look more like a button
content-padding = 1
; ; Use underline to simulate a border or shadow
content-underline = #ebdbb2
content-underline-size = 2

[module/help]
type = custom/text
content = "?"
click-left = xdg-open https://i3wm.org/docs/refcard.html 
; Set background and foreground colors to create the button effect
content-background = #282828
content-foreground = ${colors.primary}
; Add padding to make it look more like a button
content-padding = 1
; ; Use underline to simulate a border or shadow
content-underline = #ebdbb2
content-underline-size = 2

[module/btc]
type = custom/script
exec = curl -s https://api.coindesk.com/v1/bpi/currentprice/USD.json | jq -r '.bpi.USD.rate' | sed "s/\\..*//" 
interval = 150
format-prefix = " "
prefix-font = 2
; Set background and foreground colors to create the button effect
format-background = #282828
format-foreground = ${colors.primary}
; Add padding to make it look more like a button
format-padding = 1

{% if system_type == 'laptop' %}
[module/battery]
type = custom/script
format-prefix-foreground = ${colors.primary}
label = %output%
exec = /usr/local/bin/battery_check.ksh
content-font = 2
prefix-font = 2
format = <label>
format-background = #327c7e
format-foreground = ${colors.primary}
format-padding = 1
interval = 60

{% endif %}
[settings]
screenchange-reload = true
pseudo-transparency = true

; vim:ft=dosini

{% elif theme == 'win95' %}
[colors]
blue = #2979ff
cyan = #00e5ff
green = #00e676
orange = #ff9100
pink = #f50057
purple = #d500f9
red = #ff1744
yellow = #ffea00
black = #C0C0C0
white = #FFF
background = #c3c7cb 
background-alt = #7e7e7e
foreground = #232323 
foreground-alt = #474747
primary = #FFFFFF 
secondary = #FF6200
alert = #fb4934
disabled = #000000

[bar/example]
width = 100%
height = 20pt

; dpi = 96

background = ${colors.background}
foreground = ${colors.foreground}

line-size = 3pt

border-size = 4pt
border-color = #7e7e7e 

padding-left = 0
padding-right = 0

module-margin = 1

separator = 
separator-foreground = ${colors.disabled}

font-0 = monospace:size=8;2
font-1 = Terminess Nerd Font:size=8;2
font-2 = Noto Color Emoji:scale=15;

modules-left = xworkspaces
modules-center = power run help
modules-right ={% if system_type == 'laptop' %} battery{% endif %} filesystem memory cpu btc date

cursor-click = pointer
cursor-scroll = ns-resize

enable-ipc = true

tray-position = right

; wm-restack = generic
; wm-restack = bspwm
; wm-restack = i3

; override-redirect = true

[module/xworkspaces]
type = internal/xworkspaces

label-active = %name%
label-active-background = #001f7e
label-active-foreground = #FFFFFF  
label-active-padding = 1

label-occupied = %name%
label-occupied-padding = 1

label-urgent = %name%
label-urgent-background = ${colors.alert}
label-urgent-padding = 1

label-empty = %name%
label-empty-foreground = ${colors.disabled}
label-empty-padding = 1

[module/xkeyboard]
type = internal/xkeyboard
blacklist-0 = num lock

label-layout = %layout%
label-layout-foreground = ${colors.primary}

label-indicator-padding = 2
label-indicator-margin = 1
label-indicator-foreground = ${colors.background}
label-indicator-background = ${colors.secondary}

[module/filesystem]
type = custom/script
label = %output%
exec = python3 /usr/local/bin/check_mounts.py
format = <label>
format-background = #327c7e
format-foreground = ${colors.primary}
format-padding = 1
interval = 60

[module/memory]
type = custom/script
format-prefix = "MEM: "
format-prefix-foreground = ${colors.primary}
label = %output%
exec = /usr/local/bin/mem_check.ksh
format = <label>
format-background = #327c7e
format-foreground = ${colors.primary}
format-padding = 1
interval = 60

[module/cpu]
type = internal/cpu
interval = 2
format-prefix = "CPU: "
label-cpu = %percentage:2%%
format = <label>
format-background = #327c7e
format-foreground = ${colors.primary}
format-padding = 1

[module/date]
type = internal/date
interval = 1

date = %Y-%m-%d %H:%M:%S

label = %date%
label-foreground = ${colors.primary}
format = "%{A1:gsimplecal:} <label>%{A}"
format-background = #327c7e
format-foreground = ${colors.primary}
format-padding = 1

[module/run]
type = custom/text
content = "Run"
click-left = rofi -show drun -theme win95 
; Set background and foreground colors to create the button effect
content-background = #327c7e
content-foreground = ${colors.primary}
; Add padding to make it look more like a button
content-padding = 1
; ; Use underline to simulate a border or shadow
content-underline = #001f7e 
content-underline-size = 2

[module/power]
type = custom/text
content = "⏻"
content-font = 2
click-left = xterm -e python3 /usr/local/bin/logoutmenu.py
; Set background and foreground colors to create the button effect
content-background = #327c7e
content-foreground = ${colors.primary}
; Add padding to make it look more like a button
content-padding = 1
; ; Use underline to simulate a border or shadow
content-underline = #001f7e 
content-underline-size = 2

[module/help]
type = custom/text
content = "?"
click-left = xdg-open https://i3wm.org/docs/refcard.html 
; Set background and foreground colors to create the button effect
content-background = #327c7e
content-foreground = ${colors.primary}
; Add padding to make it look more like a button
content-padding = 1
; ; Use underline to simulate a border or shadow
content-underline = #001f7e 
content-underline-size = 2

[module/btc]
type = custom/script
exec = curl -s https://api.coindesk.com/v1/bpi/currentprice/USD.json | jq -r '.bpi.USD.rate' | sed "s/\\..*//" 
; | sed \"s/\\..*//\"
interval = 150
format-prefix = " "
prefix-font = 2
; Set background and foreground colors to create the button effect
format-background = #327c7e
format-foreground = ${colors.primary}
; Add padding to make it look more like a button
format-padding = 1

{% if system_type == 'laptop' %}
[module/battery]
type = custom/script
format-prefix-foreground = ${colors.primary}
label = %output%
exec = /usr/local/bin/battery_check.ksh
content-font = 2
prefix-font = 2
format = <label>
format-background = #327c7e
format-foreground = ${colors.primary}
format-padding = 1
interval = 60

{% endif %}
[settings]
screenchange-reload = true
pseudo-transparency = true

; vim:ft=dosini
{% endif %}
