#!/bin/sh
Name="Start Sway DE"
Environment=wayland
{% if system_type == 'virtual_machine' and ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu' %}
export WLR_NO_HARDWARE_CURSORS=1
{% endif %}
{% if theme == 'win95' %}
export GTK_THEME="Chicago95"
{% elif theme == 'gruvbox' %}
export GTK_THEME="Gruvbox-Dark"
{% endif %}
export QT_QPA_PLATFORM=wayland
export QT_QPA_PLATFORMTHEME=qt5ct
exec sway
