[38;5;167mdHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHb
[0m[38;5;167mHHP%%#%%%%%%%%%%%%%%%%#%%%%%%%#%%VHH
[0m[38;5;214mHH%%%%%%%%%%#%v~~~~~~\%%%#%%%%%%%%HH
[0m[38;5;214mHH%%%%%#%%%%v'        ~~~~\%%%%%#%HH
[0m[38;5;142mHH%%#%%%%%%v'dHHb      a%%%#%%%%%%HH
[0m[38;5;142mHH%%%%%#%%v'dHHHA     :%%%%%%#%%%%HH
[0m[38;5;109mHH%%%#%%%v' VHHHHaadHHb:%#%%%%%%%%HH
[0m[38;5;109mHH%%%%%#v'   `VHHHHHHHHb:%%%%%#%%%HH
[0m[38;5;110mHH%#%%%v'      `VHHHHHHH:%%%#%%#%%HH
[0m[38;5;110mHH%%%%%'        dHHHHHHH:%%#%%%%%%HH
[0m[38;5;175mHH%%#%%        dHHHHHHHH:%%%%%%#%%HH
[0m[38;5;175mHH%%%%%       dHHHHHHHHH:%%#%%%%%%HH
[0m[38;5;244mHH#%%%%       VHHHHHHHHH:%%%%%#%%%HH
[0m[38;5;244mHH%%%%#   b    HHHHHHHHV:%%%#%%%%#HH
[0m[38;5;167mHH%%%%%   Hb   HHHHHHHV'%%%%%%%%%%HH
[0m[38;5;167mHH%%#%%   HH  dHHHHHHV'%%%#%%%%%%%HH
[0m[38;5;214mHH%#%%%   VHbdHHHHHHV'#%%%%%%%%#%%HH
[0m[38;5;214mHHb%%#%    VHHHHHHHV'%%%%%#%%#%%%%HH
[0m[38;5;142mHHHHHHHb    VHHHHHHH:%odHHHHHHbo%dHH
[0m[38;5;142mHHHHHHHHboodboooooodHHHHHHHHHHHHHHHH
[0m[38;5;109mHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
[0m[38;5;109mVHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHV
[0m[38;5;110munknown
[0m