{% if theme == 'win95' %}
## Base16 Windows 95
# Author: Fergus Collins (https://github.com/C-Fergus)
# Modifed by CluelessTechnologist (https://github.com/CluelessTechnologist)

set $base00 #327c7e
set $base01 #1C1C1C
set $base02 #383838
set $base03 #545454
set $base04 #7e7e7e
set $base05 #FFFFFF
set $base06 #d2d2d2
set $base07 #fcfcfc
set $base08 #fc5454
set $base09 #a85400
set $base0A #fcfc54
set $base0B #54fc54
set $base0C #54fcfc
set $base0D #001f7e
set $base0E #fc54fc
set $base0F #00a800
set $base0G #000000
{% elif theme == 'gruvbox' %}
# set primary gruvbox colorscheme colors
set $bg #282828
set $red #cc241d
set $green #98971a
set $yellow #d79921
set $blue #458588
set $purple #b16286
set $aqua #689d68
set $gray #a89984
set $darkgray #1d2021
{% endif %}

