{% if theme == 'win95' %}
[greeter]
background=/usr/share/pixmaps/setup.png
theme-name=Chicago95
icon-theme-name=Chicago95-tux
{% elif theme == 'gruvbox' %}
[greeter]
background=/usr/share/pixmaps/gruvbox_background.jpg
theme-name=Gruvbox-Dark-BL-LB
icon-theme-name=Gruvbox-Plus-Dark
{% endif %}
