{% if theme == 'win95' %}
general.import = [
    "~/.config/alacritty/themes/themes/hyper.toml"
]
{% elif theme == 'gruvbox' %}
general.import = [
    "~/.config/alacritty/themes/themes/gruvbox_material.toml"
]
{% endif %}

