{% if theme == 'gruvbox' %}
gtk-can-change-accels = 1
gtk-icon-theme-name = "Gruvbox-Dark"
gtk-theme-name = "Gruvbox-Dark-BL-LB"
{% elif theme == 'win95' %}
gtk-can-change-accels = 1
gtk-icon-theme-name = "Chicago95-tux"
gtk-theme-name = "Chicago95"
{% endif %}

