{% if theme == 'win95' %}
* {
	background-image: none;
}
window {
	background-color: rgba(12, 12, 12, 0.9);
}
button {
    color: #FFFFFF;
	background-color: #7e7e7e; 
	border-style: solid;
	border-width: 2px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: #3700B3;
	outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/win95-lock.png"), url("/usr/local/share/wlogout/icons/win95-lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/win95-logout.png"), url("/usr/local/share/wlogout/icons/win95-logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/win95-suspend.png"), url("/usr/local/share/wlogout/icons/win95-suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/win95-hibernate.png"), url("/usr/local/share/wlogout/icons/win95-hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/win95-shutdown.png"), url("/usr/local/share/wlogout/icons/win95-shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/win95-reboot.png"), url("/usr/local/share/wlogout/icons/win95-reboot.png"));
}
{% elif theme == 'gruvbox' %}
* {
  background-image: none;
  font-family: 'Ubuntu';
}

window {
  background-color: rgba(12, 12, 12, 0.9);
}

button {
  color: #ebdbb2;
  background-color: #323232;
  outline-style: none;
  border: none;
  border-width: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10%;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
  animation: gradient_f 20s ease-in infinite;
}

button:focus {
  background-color: #323232;
  background-size: 20%;
}

button:hover#lock {
  background-color: #565555;
  background-size: 25%;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

button:hover#logout {
  background-color: #565555;
  background-size: 25%;
  margin: 0px 30px 30px 30px;
  border-radius: 20px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

button:hover#suspend {
  background-color: #565555;
  background-size: 25%;
  margin: 0px 0px 30px 30px;
  border-radius: 20px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

button:hover#hibernate {
  background-color: #565555;
  background-size: 25%;
  margin: 30px 30px 0px 0px;
  border-radius: 20px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

button:hover#shutdown {
  background-color: #565555;
  background-size: 25%;
  margin: 30px 30px 0 30px;
  border-radius: 20px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

button:hover#reboot {
  background-color: #565555;
  background-size: 25%;
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 20px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

#lock {
  background-image: image(
    url('/usr/share/wlogout/icons/gruvbox-lock.png'),
    url('/usr/local/share/wlogout/icons/gruvbox-lock.png')
  );
  border-top-left-radius: 50px;
}

#logout {
  background-image: image(
    url('/usr/share/wlogout/icons/gruvbox-logout.png'),
    url('/usr/local/share/wlogout/icons/gruvbox-logout.png')
  );
}

#shutdown {
  background-image: image(
    url('/usr/share/wlogout/icons/gruvbox-shutdown.png'),
    url('/usr/local/share/wlogout/icons/gruvbox-shutdown.png')
  );
}

#reboot {
  background-image: image(
    url('/usr/share/wlogout/icons/gruvbox-reboot.png'),
    url('/usr/local/share/wlogout/icons/gruvbox-reboot.png')
  );
  border-bottom-right-radius: 50px;
}

#suspend {
  background-image: image(
    url('/usr/share/wlogout/icons/gruvbox-suspend.png'),
    url('/usr/local/share/wlogout/icons/gruvbox-suspend.png')
  );
  border-top-right-radius: 50px;
}

#hibernate {
  background-image: image(
    url('/usr/share/wlogout/icons/gruvbox-hibernate.png'),
    url('/usr/local/share/wlogout/icons/gruvbox-hibernate.png')
  );
  border-bottom-left-radius: 50px;
}
{% endif %}
